@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";

// Offcanvas
$offcanvas-horizontal-width: 300px !default;

@import "../../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": #61dafb,
    "warning": #ffa500,
  )
);

$nav-pills-link-active-color: #ffa500;
$nav-pills-link-active-bg: #46abc6;

@import "bootstrap";
